
name: "Benchmark Go Client"
on: ["push", "pull_request"]
jobs:
  benchmark:
    runs-on: "ubuntu-latest"
    env:
      GOPATH: "${{ github.workspace }}"
    defaults:
      run:
        shell: "bash"
        working-directory: "$HOME/hazelcast-go-client"
    steps:
      - name: "Checkout Code"
        uses: "actions/checkout@v2"
        with:
          path: "$HOME/hazelcast-go-client"

      - name: "Install Dependencies"
        run: |
          sudo apt-get update &&\
          sudo apt-get install -y openjdk-17-jdk-headless maven

      - name: "Start Hazelcast Remote Controller"
        run: |
          bash ./rc.sh start
          sleep 2

      - name: "Setup Go"
        uses: "actions/setup-go@v2"
        with:
          go-version: "1.17"

      - name: "Run Benchmarks, Single Member"
        run: |
          go mod tidy
          MEMBER_COUNT=1 WARMUPS=3 make benchmark

      - name: "Run Benchmarks, Three Members"
        run: |
          go mod tidy
          MEMBER_COUNT=3 WARMUPS=3 make benchmark
