name: Go nightly build
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
jobs:
  test_client:
    runs-on: ${{ matrix.os }}
    name: Run tests of master on ${{ matrix.os }} with Go ${{ matrix.go_version }}
    if: github.repository == 'hazelcast/hazelcast-go-client'
    strategy:
        matrix:
            os: [ ubuntu-latest ]
            go_version: [ 1.17, 1.18, 1.20, 1.22 ]
        fail-fast: false
    steps:

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_version }}
          
      - name: Checkout code
        uses: actions/checkout@v2
          
      - name: Test
        env:
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          HZ_VERSION: 5.1
          ENABLE_SSL: 1
          MEMBER_COUNT: 3
        run: |
          ./rc.sh start
          go mod tidy
          make test-cover
